@media (min-width: 768px) and (max-width: 1279px) {
  /* CSS Nav-bar */
  .nav-name {
    display: none;
  }
  #nav-bar .container {
    gap: 20px;
  }
  #nav-bar .container a {
    padding: 0 15px;
  }
  #nav-bar .container a {
    border-right: 1px solid gray;
  }
  #nav-bar .container a:first-child {
    border-left: 1px solid gray;
  }
  #nav-bar .container a:nth-child(4) {
    border-left: 1px solid gray;
  }

  /* CSS Info */

  /* Mansory layout */
  #job-info .container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 1400px;
  }

  /* Positioning child element */
  .job-info {
    width: 49%;
    margin-bottom: 2%;
  }
  .job-info:nth-child(2n) {
    order: 2;
  }
  .job-info:nth-child(2n + 1) {
    order: 1;
  }

  #job-info .container::before,
  #job-info .container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  /* CSS Cert  */

  #certificate .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  #certificate .section-title {
    grid-column: 1/-1;
  }
  #certificate h1 {
    margin-bottom: 0px !important;
  }

  .cert3 .cert-img {
    width: 48%;
  }

  .cert2 {
    border-left: 1px solid #d6c08d;
    padding-left: 30px;
  }
  .cert3 {
    padding-top: 40px;

    grid-column: 1/-1;
    border-top: 1px solid #d6c08d;
  }
  /* Project CSS  */
  #project .section-title {
    grid-column: 1/-1;
  }

  #project .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }

  .project-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: flex-start;
  }

  /* Justify icon */
  .icon-user-1,
  .icon-lamp {
    margin-left: 0;
  }

  .icon-project p {
    margin-bottom: 0;
  }
  .icon-project {
    display: flex;
  }

  h5 {
    font-size: 150%;
    font-weight: normal;
  }

  .project {
    border: 1px solid black;
    padding: 10px;
  }

  .project > h5 {
    font-size: large;
  }
  .project-icon *:nth-child(3) {
    grid-column: 2/3;
  }
}
